.listBox {
  background: linear-gradient(
    to right,
    #eaeaea,
    #dbdbdb,
    #f2f2f2,
    #ada996
  ) !important;
  margin-top: 50px;
  .card {
    background-color: transparent !important;
  }
}
