.login {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  p {
    font-weight: 500;
  }
  img {
    margin-top: 30px;
  }
  .wrapper {
    background-color: #f4f1f1 !important;
    hr {
      background-color: #3fa6fa;
    }
    img {
      width: 50%;
    }
    width: 30%;

    margin: auto;

    border-radius: 10px;
    box-shadow: 0px 0px 2px 1px white;

    p {
      margin-top: 5%;
      text-align: left;
      padding-left: 5%;
    }
    .form-control {
      margin: 0 auto;
      width: 90%;
      color: black;
      background-color: #ceecfb;
    }
    .bottom {
      font-size: 10px;
      color: #d1d1d1;
      text-align: center;
    }
  }
}
@media all and (max-width: 850px) {
  .login {
    background-color: #f4f1f1 !important;

    .wrapper {
      margin: 0px;
      padding: 0px;
      width: 100%;
      box-shadow: none;
    }
  }
}
